{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Airtable API for undefined"},"servers":[{"url":"https://api.airtable.com/v0/undefined"}],"components":{"schemas":{"AirtableThumbnail":{"required":["url","width","height"],"properties":{"url":{"type":"string"},"width":{"type":"integer"},"height":{"type":"integer"}}},"AirtableThumbnails":{"required":["large","small"],"properties":{"large":{"$ref":"#/components/schemas/AirtableThumbnail"},"small":{"$ref":"#/components/schemas/AirtableThumbnail"}}},"AirtableAttachment":{"required":["id","size","url","type","filename"],"properties":{"id":{"type":"string"},"size":{"type":"integer"},"url":{"type":"string"},"type":{"type":"string"},"filename":{"type":"string"},"thumbnails":{"$ref":"#/components/schemas/AirtableThumbnails"}}},"AirtableDeleted":{"required":["id","deleted"],"properties":{"id":{"type":"string"},"deleted":{"type":"boolean"}}},"ReadProductsFields":{"properties":{"ProductId":{"type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"Care":{"type":"string"},"HasVariants":{"type":"number"},"Product Variants":{"type":"array","items":{"type":"string"}},"StockCount":{"type":"number"},"Barcode":{"type":"array","items":{"type":"string"}},"Cost":{"type":"array","items":{"type":"string"}},"DefaultPrice":{"type":"number"},"Margin":{"type":"number"},"MarkupPercent":{"type":"number"},"Supplier":{"type":"array","items":{"type":"string"}},"Photo (from Barcode)":{"type":"array","items":{"type":"string"}},"Categories":{"type":"array","items":{"type":"string"}},"Category":{"type":"array","items":{"type":"string"}},"CreateDate":{"type":"string"},"LastUpdate":{"type":"string"},"SupplierProduct":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct) 2":{"type":"array","items":{"type":"string"}},"VariantId (from Product Variants)":{"type":"array","items":{"type":"string"}},"Barcode (from Barcode)":{"type":"array","items":{"type":"string"}},"SupplierId (from Supplier)":{"type":"array","items":{"type":"string"}},"SupplierProducts":{"type":"string"},"SKU (from SupplierProduct)":{"type":"array","items":{"type":"string"}}}},"WriteProductsFields":{"properties":{"Name":{"type":"string"},"Description":{"type":"string"},"Care":{"type":"string"},"Product Variants":{"type":"array","items":{"type":"string"}},"StockCount":{"type":"number"},"Barcode":{"type":"array","items":{"type":"string"}},"Cost":{"type":"array","items":{"type":"string"}},"DefaultPrice":{"type":"number"},"Supplier":{"type":"array","items":{"type":"string"}},"Photo (from Barcode)":{"type":"array","items":{"type":"string"}},"Categories":{"type":"array","items":{"type":"string"}},"Category":{"type":"array","items":{"type":"string"}},"CreateDate":{"type":"string"},"LastUpdate":{"type":"string"},"SupplierProduct":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct) 2":{"type":"array","items":{"type":"string"}},"VariantId (from Product Variants)":{"type":"array","items":{"type":"string"}},"Barcode (from Barcode)":{"type":"array","items":{"type":"string"}},"SupplierId (from Supplier)":{"type":"array","items":{"type":"string"}},"SupplierProducts":{"type":"string"},"SKU (from SupplierProduct)":{"type":"array","items":{"type":"string"}}}},"ReadProducts":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadProductsFields"}}},"ReadProductsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadProductsFields"}}},"WriteProductsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteProductsFields"}}},"ReadProductVariantsFields":{"properties":{"VariantId":{"type":"integer"},"Products":{"type":"array","items":{"type":"string"}},"VariantName":{"type":"string"},"DefaultPrice":{"type":"number"},"Cost":{"type":"array","items":{"type":"string"}},"Margin":{"type":"number"},"MarginPercent":{"type":"number"},"Barcode":{"type":"array","items":{"type":"string"}},"Photo (from Barcode)":{"type":"array","items":{"type":"string"}},"StockCount":{"type":"number"},"CreateDate":{"type":"string"},"LastModified":{"type":"string"},"Supplier Product":{"type":"array","items":{"type":"string"}},"Supplier (from Products)":{"type":"array","items":{"type":"string"}},"Barcode (from Barcode)":{"type":"array","items":{"type":"string"}}}},"WriteProductVariantsFields":{"properties":{"Products":{"type":"array","items":{"type":"string"}},"VariantName":{"type":"string"},"DefaultPrice":{"type":"number"},"Cost":{"type":"array","items":{"type":"string"}},"Barcode":{"type":"array","items":{"type":"string"}},"Photo (from Barcode)":{"type":"array","items":{"type":"string"}},"StockCount":{"type":"number"},"CreateDate":{"type":"string"},"LastModified":{"type":"string"},"Supplier Product":{"type":"array","items":{"type":"string"}},"Supplier (from Products)":{"type":"array","items":{"type":"string"}},"Barcode (from Barcode)":{"type":"array","items":{"type":"string"}}}},"ReadProductVariants":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadProductVariantsFields"}}},"ReadProductVariantsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadProductVariantsFields"}}},"WriteProductVariantsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteProductVariantsFields"}}},"ReadSuppliersFields":{"properties":{"SupplierId":{"type":"integer"},"Name":{"type":"string"},"Contact Info":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Availability":{"type":"array","items":{"type":"string"}},"AvailabilityUpdate":{"type":"string"},"LastUpdate":{"type":"string"},"BarcodePrefix":{"type":"number"},"SupplierProducts":{"type":"array","items":{"type":"string"}},"ProductOrders":{"type":"array","items":{"type":"string"}}}},"WriteSuppliersFields":{"properties":{"Name":{"type":"string"},"Contact Info":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Availability":{"type":"array","items":{"type":"string"}},"AvailabilityUpdate":{"type":"string"},"LastUpdate":{"type":"string"},"BarcodePrefix":{"type":"number"},"SupplierProducts":{"type":"array","items":{"type":"string"}},"ProductOrders":{"type":"array","items":{"type":"string"}}}},"ReadSuppliers":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadSuppliersFields"}}},"ReadSuppliersRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadSuppliersFields"}}},"WriteSuppliersRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteSuppliersFields"}}},"ReadBarcodesFields":{"properties":{"Barcode":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"Product Variants":{"type":"array","items":{"type":"string"}},"Photo":{"type":"array","items":{"type":"string"}},"QR Code":{"type":"array","items":{"type":"string"}},"BarcodeImage":{"type":"array","items":{"type":"string"}}}},"WriteBarcodesFields":{"properties":{"Barcode":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"Product Variants":{"type":"array","items":{"type":"string"}},"Photo":{"type":"array","items":{"type":"string"}},"QR Code":{"type":"array","items":{"type":"string"}},"BarcodeImage":{"type":"array","items":{"type":"string"}}}},"ReadBarcodes":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadBarcodesFields"}}},"ReadBarcodesRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadBarcodesFields"}}},"WriteBarcodesRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteBarcodesFields"}}},"ReadCategoriesFields":{"properties":{"CategoryId":{"type":"integer"},"Name":{"type":"string"},"Product":{"type":"array","items":{"type":"string"}},"ProductId (from Product)":{"type":"array","items":{"type":"string"}},"CategoryId (from ParentCategory)":{"type":"array","items":{"type":"string"}},"ParentCategory":{"type":"array","items":{"type":"string"}}}},"WriteCategoriesFields":{"properties":{"Name":{"type":"string"},"Product":{"type":"array","items":{"type":"string"}},"ProductId (from Product)":{"type":"array","items":{"type":"string"}},"CategoryId (from ParentCategory)":{"type":"array","items":{"type":"string"}},"ParentCategory":{"type":"array","items":{"type":"string"}}}},"ReadCategories":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadCategoriesFields"}}},"ReadCategoriesRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadCategoriesFields"}}},"WriteCategoriesRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteCategoriesFields"}}},"ReadSupplierProductsFields":{"properties":{"SupplerProductId":{"type":"string"},"Supplier":{"type":"array","items":{"type":"string"}},"SKU":{"type":"string"},"AvailabilityStatus":{"type":"string"},"ProductPage":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"ProductOrderItems":{"type":"array","items":{"type":"string"}},"Cost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"Product Variants":{"type":"array","items":{"type":"string"}}}},"WriteSupplierProductsFields":{"properties":{"Supplier":{"type":"array","items":{"type":"string"}},"SKU":{"type":"string"},"AvailabilityStatus":{"type":"string"},"ProductPage":{"type":"string"},"Products":{"type":"array","items":{"type":"string"}},"ProductOrderItems":{"type":"array","items":{"type":"string"}},"Cost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"Product Variants":{"type":"array","items":{"type":"string"}}}},"ReadSupplierProducts":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadSupplierProductsFields"}}},"ReadSupplierProductsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadSupplierProductsFields"}}},"WriteSupplierProductsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteSupplierProductsFields"}}},"ReadProductOrdersFields":{"properties":{"ProductOrderId":{"type":"integer"},"Supplier":{"type":"array","items":{"type":"string"}},"OrderDate":{"type":"string"},"ItemCount":{"type":"number"},"OriginalOrderTotal":{"type":"number"},"FinalTotal":{"type":"number"},"ProductOrderItems":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Name (from Supplier)":{"type":"array","items":{"type":"string"}},"SupplierId (from Supplier)":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct) (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"Cost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"TotalCost (from ProductOrderItems) 2":{"type":"array","items":{"type":"string"}},"Name (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"OrderedQuantity (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"FinalCost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"TotalCost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}}}},"WriteProductOrdersFields":{"properties":{"Supplier":{"type":"array","items":{"type":"string"}},"OrderDate":{"type":"string"},"ProductOrderItems":{"type":"array","items":{"type":"string"}},"Status":{"type":"string"},"Name (from Supplier)":{"type":"array","items":{"type":"string"}},"SupplierId (from Supplier)":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct) (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"Cost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"TotalCost (from ProductOrderItems) 2":{"type":"array","items":{"type":"string"}},"Name (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"OrderedQuantity (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"FinalCost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}},"TotalCost (from ProductOrderItems)":{"type":"array","items":{"type":"string"}}}},"ReadProductOrders":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadProductOrdersFields"}}},"ReadProductOrdersRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadProductOrdersFields"}}},"WriteProductOrdersRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteProductOrdersFields"}}},"ReadProductOrderItemsFields":{"properties":{"Name":{"type":"integer"},"Order":{"type":"array","items":{"type":"string"}},"SupplierProduct":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct)":{"type":"array","items":{"type":"string"}},"Cost":{"type":"number"},"OrderedQuantity":{"type":"number"},"TotalCost":{"type":"number"},"DeliveredQuantity":{"type":"number"},"FinalCost":{"type":"number"},"SupplerProductId (from SupplierProduct) 2":{"type":"array","items":{"type":"string"}},"SupplerProductId (from SupplierProduct)":{"type":"array","items":{"type":"string"}},"ProductId (from Product)":{"type":"array","items":{"type":"string"}}}},"WriteProductOrderItemsFields":{"properties":{"Order":{"type":"array","items":{"type":"string"}},"SupplierProduct":{"type":"array","items":{"type":"string"}},"SKU (from SupplierProduct)":{"type":"array","items":{"type":"string"}},"Cost":{"type":"number"},"OrderedQuantity":{"type":"number"},"DeliveredQuantity":{"type":"number"},"SupplerProductId (from SupplierProduct) 2":{"type":"array","items":{"type":"string"}},"SupplerProductId (from SupplierProduct)":{"type":"array","items":{"type":"string"}},"ProductId (from Product)":{"type":"array","items":{"type":"string"}}}},"ReadProductOrderItems":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadProductOrderItemsFields"}}},"ReadProductOrderItemsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadProductOrderItemsFields"}}},"WriteProductOrderItemsRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteProductOrderItemsFields"}}},"ReadTestTableFields":{"properties":{"Name":{"type":"string"},"Notes":{"type":"string"},"Assignee":{"type":"string"},"Status":{"type":"string"}}},"WriteTestTableFields":{"properties":{"Name":{"type":"string"},"Notes":{"type":"string"},"Assignee":{"type":"string"},"Status":{"type":"string"}}},"ReadTestTable":{"properties":{"id":{"type":"string"},"createdTime":{"type":"string"},"fields":{"$ref":"#/components/schemas/ReadTestTableFields"}}},"ReadTestTableRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/ReadTestTableFields"}}},"WriteTestTableRequestBody":{"properties":{"fields":{"$ref":"#/components/schemas/WriteTestTableFields"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}}},"paths":{"/Products":{"get":{"operationId":"listProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadProducts"}}}}}}},"post":{"operationId":"createProducts","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProductsRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProducts"}}}}}}},"/Products/{id}":{"get":{"operationId":"retrieveProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProducts"}}}}}},"patch":{"operationId":"updateProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductsRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProducts"}}}}}},"delete":{"operationId":"deleteProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/Product Variants":{"get":{"operationId":"listProductVariants","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadProductVariants"}}}}}}},"post":{"operationId":"createProductVariants","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProductVariantsRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductVariants"}}}}}}},"/Product Variants/{id}":{"get":{"operationId":"retrieveProductVariants","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductVariants"}}}}}},"patch":{"operationId":"updateProductVariants","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductVariantsRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductVariants"}}}}}},"delete":{"operationId":"deleteProductVariants","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/Suppliers":{"get":{"operationId":"listSuppliers","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadSuppliers"}}}}}}},"post":{"operationId":"createSuppliers","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteSuppliersRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSuppliers"}}}}}}},"/Suppliers/{id}":{"get":{"operationId":"retrieveSuppliers","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSuppliers"}}}}}},"patch":{"operationId":"updateSuppliers","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSuppliersRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSuppliers"}}}}}},"delete":{"operationId":"deleteSuppliers","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/Barcodes":{"get":{"operationId":"listBarcodes","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadBarcodes"}}}}}}},"post":{"operationId":"createBarcodes","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteBarcodesRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadBarcodes"}}}}}}},"/Barcodes/{id}":{"get":{"operationId":"retrieveBarcodes","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadBarcodes"}}}}}},"patch":{"operationId":"updateBarcodes","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadBarcodesRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadBarcodes"}}}}}},"delete":{"operationId":"deleteBarcodes","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/Categories":{"get":{"operationId":"listCategories","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadCategories"}}}}}}},"post":{"operationId":"createCategories","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteCategoriesRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadCategories"}}}}}}},"/Categories/{id}":{"get":{"operationId":"retrieveCategories","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadCategories"}}}}}},"patch":{"operationId":"updateCategories","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadCategoriesRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadCategories"}}}}}},"delete":{"operationId":"deleteCategories","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/SupplierProducts":{"get":{"operationId":"listSupplierProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadSupplierProducts"}}}}}}},"post":{"operationId":"createSupplierProducts","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteSupplierProductsRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSupplierProducts"}}}}}}},"/SupplierProducts/{id}":{"get":{"operationId":"retrieveSupplierProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSupplierProducts"}}}}}},"patch":{"operationId":"updateSupplierProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSupplierProductsRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadSupplierProducts"}}}}}},"delete":{"operationId":"deleteSupplierProducts","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/ProductOrders":{"get":{"operationId":"listProductOrders","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadProductOrders"}}}}}}},"post":{"operationId":"createProductOrders","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProductOrdersRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrders"}}}}}}},"/ProductOrders/{id}":{"get":{"operationId":"retrieveProductOrders","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrders"}}}}}},"patch":{"operationId":"updateProductOrders","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrdersRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrders"}}}}}},"delete":{"operationId":"deleteProductOrders","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/ProductOrderItems":{"get":{"operationId":"listProductOrderItems","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadProductOrderItems"}}}}}}},"post":{"operationId":"createProductOrderItems","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProductOrderItemsRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrderItems"}}}}}}},"/ProductOrderItems/{id}":{"get":{"operationId":"retrieveProductOrderItems","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrderItems"}}}}}},"patch":{"operationId":"updateProductOrderItems","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrderItemsRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadProductOrderItems"}}}}}},"delete":{"operationId":"deleteProductOrderItems","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}},"/TestTable":{"get":{"operationId":"listTestTable","security":[{"BearerAuth":[]}],"parameters":[{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filterByFormula","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxRecords","in":"query","required":false,"schema":{"type":"integer"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer"}},{"name":"offset","in":"query","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","required":false,"schema":{"type":"string"}},{"name":"cellFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"userLocale","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List Objects Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReadTestTable"}}}}}}},"post":{"operationId":"createTestTable","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteTestTableRequestBody"}}}},"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadTestTable"}}}}}}},"/TestTable/{id}":{"get":{"operationId":"retrieveTestTable","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Create Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadTestTable"}}}}}},"patch":{"operationId":"updateTestTable","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadTestTableRequestBody"}}}},"responses":{"200":{"description":"Update Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadTestTable"}}}}}},"delete":{"operationId":"deleteTestTable","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete Object Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirtableDeleted"}}}}}}}}}
